*{
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body{
  padding-top: 70px;
}

nav{
  background-color: #81A14B;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

/*-----animaciones-----*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}


/*------------Propiedades del formulario del login----------*/
.login-title{
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 15px;
  font-family: 'Open Sans', sans-serif;
}

#form-login{
  text-align: center;
  width: 100%;
}

#form-login input{
  margin-top: 10px;
  width:30%;
  text-align: center;
  display: inline-block;
}


#form-login button[type=submit]{
    width: 15%;
    background-color: #E0493E;
    color: white;
    border: black;
}

#form-login button[type=submit]:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(25px);
}

@media only screen and (max-width: 770px) {
  #form-login input[type=text]{
    width: 70%;
  }

  #form-login input[type=password]{
    width: 70%;
  }
}


/*---Propiedades de los formularios----*/
.form-cliente input{
    text-align: center;
}

.form-cliente .container{
    text-align: center;
}

.title-form-cli{
    margin-bottom: 20px;
    margin-top: 20px;
    font-weight: bold
}


h1{
    font-size: 30px;
    font-weight: bold;
}

.text-center{
    font-family: 'Open Sans', sans-serif;
    font-weight:bold;

}

#form-registro{
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

#form-registro input[type=text]{
  text-align: center;
  margin-bottom: 15px;
}

#form-registro input[type=tel]{
  text-align: center;
  margin-bottom: 15px;
}

#form-registro input[type=date]{
  text-align: center;
  margin-bottom: 15px;
}

#form-registro input[type=email]{
  text-align: center;
  margin-bottom: 15px;
}

#form-registro button[type=submit]{
  text-align: center;
  margin-bottom: 15px;
}

#form-registro button[type=button]{
  text-align: center;
  margin-bottom: 15px;
}

#form-registro input[type=number]{
  text-align: center;
  margin-bottom: 15px;
}

#form-registro label{
  font-weight: bold;
}

#form-registro p{
  font-weight: bold;
}

#navbarText ul li a{
  color: #fff;
  font-weight: initial;
}

#navbarText ul li div a{
  color: black;
  font-weight: initial;
}

#tdClientes tbody td button{
  background-color: #E0493E;
  color: white;
  border: black;
}

#tdClientes tbody td{
  font-family: 'Helvetica';
}

#tdClientes tbody td button:hover{
  background-color: #EF2F21;
}

#tdServicios tbody td button{
  background-color: #E0493E;
  color: white;
  border: black;

}

#tdServicios tbody td{
  font-family: 'Helvetica';
}

#tdServicios tbody td button:hover{
  background-color: #EF2F21;
}

#tdPaquetes tbody td button{
  background-color: #E0493E;
  color: white;
  border: black;

}

#tdPaquetes tbody td{
  font-family: 'Helvetica';
}

#tdPaquetes tbody td button:hover{
  background-color: #EF2F21;
}

#form-registro div button{
    background-color: #E0493E;
    color: white;
    border: black;
}

#form-registro div button:hover{
    background-color: #EF2F21;
}

#form-registro button{
    background-color: #E0493E;
    color: white;
    border: black;
}

#form-registro button:hover{
    background-color: #EF2F21;
}